<%= form_with model: reservation, local: true do |f| %>
  <% if reservation.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="mb-3">
    <%= f.label :date, "日付", class: "form-label" %>
    <%= f.date_field :date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :start_time, "開始", class: "form-label" %>
    <%= f.time_field :start_time, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :end_time, "終了", class: "form-label" %>
    <%= f.time_field :end_time, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :salon_name, "サロン・クリニック名", class: "form-label" %>
    <%= f.text_field :salon_name,
       class: "form-control",
       placeholder: "例：〇〇歯科 / △△サロン" %>
  </div>

  <%= f.submit "登録", class: "btn btn-primary" %>
<% end %>